// color
$clrGrayishBlue: hsl(233, 8%, 62%);
$clrLightGrayishBlue: hsl(220, 16%, 96%);
$clrVeryLightGray: hsl(0, 0%, 98%);
$clrWhite: hsl(0, 0%, 100%);
$clrDarkBlue: hsl(233, 26%, 24%);
$clrLimeGreen: hsl(136, 65%, 51%);
$clrBrightCyan: hsl(192, 70%, 51%);

// fonts
//$font-family-moo: 'Moo Lah Lah', cursive;
//$font-family-pat: 'Patua One', cursive;
$font-family-pub: "Public Sans", sans-serif;
//$font-family-righ: 'Righteous', cursive;

// font size
$font-sm: 1.4rem;
$font-md: 1.8rem;
$font-md-mbl: 2.3rem;

// width & height
$maxWidth: 111rem;
